{% extends 'EnovancePortalBundle:Admin:index.html.twig' %}

{% block title %}Portal | Admin > Users{% endblock %}

{% block css %}
    {{ parent() }}
    <link href="{{ asset("bundles/enovanceuser/css/admin.css") }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% macro li_user(user) %}
<li>
  <div class="a-avatar medium"><img src="{{ asset(user.getAvatarWebPath) }}" alt="avatar-{{ user.firstName }}-{{ user.lastName }}" /></div>
  <a class="a-title a-edit-modal"><span class="list-title">{{ user.firstName }} {{ user.lastName }}</span></a>
  <span class="a-meta a-email">{{ user.email }}</span>
  <span class="a-meta a-actions">
    <a href="{{ path('enovance_admin_user_edit', {'id': user.id}) }}" class="a-edit a-edit-modal" title="{% trans %}Edit{% endtrans %}">{% trans %}Edit{% endtrans %}</a>
    {% if(user.id != app.user.id) %}<a href="{{ path('enovance_admin_user_delete', {'id': user.id}) }}" class="a-delete" title="{% trans %}Delete{% endtrans %}" onclick="return confirm('{% trans %}This user will be deleted. Are you sure ?{% endtrans %}')">{% trans %}Delete{% endtrans %}</a>{% endif %}
  </span>
  <div class="a-alert-overlay hide"></div>
</li>
{% endmacro %}

{% block admin_content %}
  <ul class="a-list a-sortable a-event ui-sortable">
    {% for user in users %}{{ _self.li_user(user) }}{% endfor %}
  </ul>
  <div class="navigation">{{ knp_pagination_render(users) }}</div>
{% endblock %}
