{% extends 'EnovancePortalBundle:Admin:index.html.twig' %}
{% form_theme form 'EnovanceUserBundle:Form:adminFields.html.twig' %}

{% block title %}Portal | Admin > User > {{ user.firstName }} {{ user.lastName }}{% endblock %}

{% block css %}
    {{ parent() }}
    <link href="{{ asset("bundles/enovanceuser/css/admin.css") }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset("bundles/enovanceuser/js/admin.js") }}"></script>
{% endblock %}

{% if user.id %}{% set isNew = FALSE %}{% else %}{% set isNew = TRUE %}{% endif %}

{% block admin_section_header %}
  <h2 class="a-count">{% if isNew %}{% trans %}New User{% endtrans %}{% else %}{% trans %}Edit User{% endtrans %}{% endif %}</h2>
{% endblock %}

{% block admin_content %}
  <form action="{% if isNew %}{{ path('enovance_admin_user_new') }}{% else %}{{ path('enovance_admin_user_edit', {'id': user.id}) }}{% endif %}" class="a-fishbone" method="post" {{ form_enctype(form) }}>{{ form_widget(form._token) }}
    <div class="a-message form-header">{% trans %}General{% endtrans %}</div>
      {{ form_row(form.username) }}
      {{ form_row(form.firstname) }}
      {{ form_row(form.lastname) }}
      {{ form_row(form.email) }}
      {% if(user.id != app.user.id) %}
        {% if form.enabled is defined %}
          <div class="a-field">
            {{ form_row(form.enabled) }}
          </div>
        {% endif %}
      {% endif %}
      <div class="a-field">
        <label>{% trans %}Avatar{% endtrans %}</label>
        <div class="a-text">
          <img src="{{ asset(user.getAvatarWebPath ) }}" alt="avatar-{{ user.firstName }}-{{ user.lastName }}" />
          {{ form_widget(form.file) }}
        </div>
        <span class="a-error">{{ form_errors(form.file) }}</span>
      </div>
  
    {% if form.password is defined %}
      <div class="a-message form-header">{% trans %}Password{% endtrans %}</div>
        {% if isNew %}
          {{ form_row(form.password.first) }}
        <div><span class="generate-password-btn"><a href="javascript:void(0);">{% trans %}generate{% endtrans %}</a> <span class="generate-password-value"></span></span></div>
          {{ form_row(form.password.second) }}
        {% else %}
          {{ form_row(form.password.first) }}
        <div><span class="generate-password-btn"><a href="javascript:void(0);">{% trans %}generate{% endtrans %}</a> <span class="generate-password-value"></span></span></div>
          {{ form_row(form.password.second) }}
        {% endif %}
    {% endif %}
    <input type="submit" />
  </form>
{% endblock %}
