{% extends "EnovanceUserBundle::layout.html.twig" %}

{% block fos_user_content %}
<form action="{{ path("fos_user_security_check") }}" method="post" id="connectform">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    <div id="infologin">
        {% if error %}
            {{ error|trans({}, 'UserBundle') }}
        {% endif %}
    </div>
    <div class="element">
        <input type="text" id="username" name="_username" value="{{ last_username }}" autofocus required="required" placeholder="{{ 'security.login.username'|trans({}, 'UserBundle') }}" />
    </div>
    <div class="element">
        <input type="password" id="password" name="_password" required="required" placeholder="{{ 'security.login.password'|trans({}, 'UserBundle') }}" />
    </div>
    <div class="element">
        <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'UserBundle') }}" />
    </div>
    <div id="language">
        {% set routeName = app.request.attributes.get("_route") %}
        {% set routeParams = app.request.attributes.get("_route_params") %}
        {% for locale in ['en', 'fr', 'es', 'de'] %}
            <a href="{{ path(routeName, routeParams|merge({"_locale": locale})) }}" {% if locale == app.request.locale %}class="active"{% endif %}>
                <img src={{ asset("bundles/enovanceuser/images/flags/"~ locale ~".png") }} alt="{{ locale }}" />
            </a>
        {% endfor %}
    </div>
    <div class="clear"></div>
</form>
{% endblock fos_user_content %}
