{% extends 'EnovancePortalBundle::base_layout.html.twig' %}

{% block title %}Portal | Admin{% endblock %}

{% block css %}
    {{ parent() }}
    <link href="{{ asset("bundles/enovanceportal/css/admin.css") }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset("bundles/enovanceportal/js/admin-menu.js") }}"></script>
    <script type="text/javascript" src="{{ asset("bundles/enovanceportal/js/admin.js") }}"></script>
{% endblock %}

{% block portal_layout %}
<div class="span12" id="admin">
    <div class="row-fluid" id="row-admin">
        <div id="a-sidebar" class="span2">
            <h2>Administration</h2>
            {{ knp_menu_render('EnovancePortalBundle:Builder:AdminMenuNavbar', {'nav_type': 'stacked_tabs'}) }}
        </div>
        <div id="a-content" class="span10">
            <div id="a-section-header">
                {% block admin_section_header %}
                <form class="a-search">
                    <input class="a-search" id="a-content-search" placeholder="Search" />
                    <input class="a-search-button" value="Search" />
                </form>
                {% endblock %}
            </div>
            <div class="a-searchable" id="admin-content">
                {% block admin_content %}
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		test
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		test
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		test
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		test
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		test
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		test
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		test
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		test
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		test
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		test

                {% endblock %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
