{% extends "EnovanceUserBundle::layout.html.twig" %}

{% block fos_user_content %}
<form action="{{ path("fos_user_security_check") }}" method="post" id="connectform">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    <div id="infologin">
        {% if error %}
            {{ error|trans({}, 'UserBundle') }}
        {% endif %}
    </div>
    <div class="element">
        <input type="text" id="username" name="_username" value="{{ last_username }}" autofocus required="required" placeholder="{{ 'security.login.username'|trans({}, 'UserBundle') }}" />
    </div>
    <div class="element">
        <input type="password" id="password" name="_password" required="required" placeholder="{{ 'security.login.password'|trans({}, 'UserBundle') }}" />
    </div>
    <div class="element">
        <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'UserBundle') }}" />
    </div>
    <div id="language">
        <a href="{{ path('_change_language', { '_locale': 'fr' }) }}"><img src={{ asset("bundles/enovanceuser/images/flags/fr.png") }} alt="fr" /></a>
        <a href="{{ path('_change_language', { '_locale': 'en' }) }}"><img src={{ asset("bundles/enovanceuser/images/flags/gb.png") }} alt="uk" /></a>
        <a href="{{ path('_change_language', { '_locale': 'es' }) }}"><img src={{ asset("bundles/enovanceuser/images/flags/es.png") }} alt="es" /></a>
        <a href="{{ path('_change_language', { '_locale': 'de' }) }}"><img src={{ asset("bundles/enovanceuser/images/flags/de.png") }} alt="de" /></a>
    </div>
    <div class="clear"></div>
</form>
{% endblock fos_user_content %}
