<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}{% endblock title %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {% block css %}
        <link href="{{ asset("/bundles/braincraftedbootstrap/css/bootstrap.css") }}" rel="stylesheet" type="text/css" />
<!--        <link href="{{ asset("/bundles/braincraftedbootstrap/css/bootstrap-responsive.css") }}" rel="stylesheet" type="text/css" /> -->
        <link href="{{ asset("/css/global.css") }}" rel="stylesheet" type="text/css" />
        {% endblock css %}
        {% block javascript %}
        <script src="{{ asset("/bundles/braincraftedbootstrap/js/jquery-1.7.2.min.js") }}"></script>
        <script src="{{ asset("/bundles/braincraftedbootstrap/js/bootstrap.js") }}"></script>
        {% endblock javascript %}    
    </head>
    <body>    
      <div class="container-fluid" id="container">
        {% if is_granted("IS_AUTHENTICATED_FULLY") %}  
          <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
              <a class="brand" href="">Enovance Portal</a>
                {{ knp_menu_render('EnovancePortalBundle:Builder:MenuNavbar', {'nav_type': 'navbar'}) }}
                {{ knp_menu_render('EnovancePortalBundle:Builder:SessionNavbar', {'nav_type': 'navbar', 'pull': 'right'}) }}
            </div>
          </div>
          <div class="row-fluid" id="content">
            {% block portal_layout %}
            {% endblock portal_layout %}
          </div>    
        {% else %}
          {% block login_layout %}
          {% endblock login_layout %}
        {% endif %}
        </div>    
    </body>
</html>
